@font-face {
	font-family: 'BlackOpsOne';
	src: url('/BlackOpsOne-Regular.ttf');
}

@font-face {
	font-family: 'Jura';
	src: url('/Jura-Light.ttf');
}

* {
	font-family: 'Jura';
}

h1, h1 *, h2, h2 *, h3, h3 *, h4, h4 *, h5, h5 *, h6, h6 *, .translation_links {
	font-family: 'BlackOpsOne';
	text-transform: uppercase;
	color: orangered;
}

p, li {
	color: white;
}

.content p {
	line-height: 1.5em;
}

.content p:first-letter {
	color: orangered;
	font-weight: bold;
	font-size: 1.2em;
	font-family: 'BlackOpsOne';
	margin-right: 0.1em;
}

a, a * {
	text-decoration: none;
	color: orangered;
}

a:hover {
	text-decoration: underline;
}

body {
	background: #1e1e1e;
	margin: 0;
	padding: 1em;
}

li {
	margin-bottom: 0.5em;
}

hr {
	border: 1px solid orangered;
	margin: 1.5em 0;
}

.translation_links {
	display: block;
	text-align: right;
}

.translation_links img {
	max-height: 0.8em;
}

h1 a {
	text-decoration: none;
}

h1 a:hover {
	text-decoration: underline;
}

h1 .boring {
	font-size: 0.5em;
	color: #303030;
}

h1:hover .boring {
	color: orangered;
}

h1 sup {
	font-style: italic;
}

.section {
	display: inline-block;
	border: 3px solid orangered;
	background: linear-gradient(to bottom, rgba(100, 27, 0, 0.7), rgba(100, 27, 0, 0.4));
	box-shadow: 10px 10px rgba(100, 27, 0, 0.6);
	border-radius: 1em;
	padding: 0.5em;
	margin: 0.5em;
}

.section:hover {
	background: linear-gradient(to bottom, rgba(100, 27, 0, 1), rgba(100, 27, 0, 0.7));
	box-shadow: 10px 10px rgba(100, 27, 0, 0.9);
}

article.section {
	display: block;
	padding: 1.5em;
	margin: 2em;
}

#github_feed {
	border-radius: 0;
	padding: 0;
	display: block;
	width: 50%;
	margin: 1em auto;
}

article.section h4, article.section p {
	margin: 0;
}

article.section h4 {
	margin-bottom: 0.5em;
}

article.section .article-topics {
	text-align: right;
	margin-top: 1em;
}

.section .article-topics code {
	color: orangered;
}

.inline-showcase {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.inline-showcase .preview {
	max-width: 20%;
	min-width: 300px;
	margin-right: 1%;
}

.inline-showcase .showcase-content {
	display: block;
}

code {
	font-family: Consolas;
	background: rgba(100, 27, 0, 0.8);
	padding: 0.3em;
	margin: 0.1em;
}

footer {
	text-align: center;
	margin-top: 3em;
}
